body{
    background-image: url("https://img2018.cnblogs.com/blog/1358881/201909/1358881-20190910100015098-837598352.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    cursor: url(https://files.cnblogs.com/files/wkfvawl/cursor.ico),auto;
}